<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{name}}</title>
  {{#each styles}}
  <link rel="stylesheet" href="/styles/{{this}}.css">
  {{/each}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{#each scripts}}
  <script src="/scripts/{{this}}.js" type="module"></script>
  {{/each}}
</head>
<body>
  <header class="main-structure">{{> header}}</header>
  <main class="main-structure">{{{body @root}}}</main>
  <!-- FOUC dummy script -->
  <script>0</script>
</body>
</html>
