<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header class="main-structure">{{> header}}</header>
  <main class="main-structure">{{{body}}}</main>
  <!-- FOUC dummy script -->
  <script>0</script>
</body>
</html>
