main.main-structure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: block;
  width: 100%;
  text-align: center;
}

#tables-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border-collapse: collapse;

  &:not(.selected) { display: none; }

  & td, & th {
    position: relative;
    border: 1px solid white;

    &:first-child, &:last-child {
      border: none; 

      :is(td, th):not(&) { padding: 0.5rem; }
    }

    &:nth-child(2) { text-align: center; }
  }
}

button {
  color: var(--text);
  border: none;
  background-color: var(--background);
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-size: 80% !important;
    opacity: 0.5;
    cursor: pointer;
  }
}

button.edit, button.delete {
  top: 0;
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 100%;
  transform: scale(0.5);
  transition: all 75ms;
  visibility: hidden;

  &.edit {
    background-image: url('/assets/pencil.svg');
    left: 0; 
  }

  &.delete {
    background-image: url('/assets/trash.svg');
    right: 0;
  }

  main.main-structure:has(#publications.selected) & {
    visibility: visible;
  }
}

button#add-row {
  display: none;
  margin: 0 auto;
  width: 1rem;
  aspect-ratio: 1 / 1;
  background-image: url('/assets/plus.svg');

  main.main-structure:has(#publications.selected) & {
    display: block;
  }
}

section#add-row-modal, section#edit-row-modal {
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  width: 100vw;
  height: 100vh;
  background-color: #1116;
  transition: all 75ms;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

section#add-row-modal {
  #add-row:is(:active, :focus) ~ &,
  &:focus-within,
  &:has(#add-row-form:hover) {
    visibility: visible;
    opacity: 1;
  }
}

section#edit-row-modal {
  main.main-structure:has(button.edit:is(:active, :focus)) &,
  &:focus-within,
  &:has(#add-row-form:hover) {
    visibility: visible;
    opacity: 1;
  }
}

#add-row-form, #edit-row-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--background2);
}
