@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/styles/header.css');

:root {
  /* palette */
  --primary: #f00;
  --background: #111;
  --background2: #070707;
  --text: #ddd;
  --font: 'Azeret Mono', monospace;

  background: var(--background);
  color: var(--text);
  font-family: var(--font);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
}

body {
  display: flex;
  flex-direction: column;
}

body > * {
  padding: 1rem;
}

main.main-structure {
  flex: 1;
}

p, h1, h2  h3, h4, h5, h6 {
  margin: 0;
}

* { font-family: var(--font); }
